#characterImg {
  width: 70px; 
  height: 70px;
  background-color: none;
  background-size: contain;
  background-repeat: no-repeat;
  position: relative;
}

.glow {
    box-shadow: 0 0 20px 5px rgba(227, 45, 45, 0.954);
    animation: glow-animation 1s infinite alternate;
}
  
  @keyframes glow-animation {
    from {
      opacity: 0.5;
    }
    to {
      opacity: 1;
    }
  }